<h2>Lista de postagens: </h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova postagem</button></a>

{{#each postagens}}
    <div class="card mt-2">
        <div class="card-body">
            
            <h4>{{titulo}}</h4>
            <small>Descrição: {{descricao}}</small> <br>
            <small>Data: {{data}}</small> <br>
            <small>Categoria: {{categoria.nome}}</small> <br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-2">Editar postagem</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-2">Deletar postagem</button></a>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma categoria registrada</h4>
{{/each}}